.company {
  .item-img {
    width: 100%;
  }
  .at-noticebar {
    color: #004277;
    background: #ecf5fc;
  }
  .line {
    color: #004277;
  }
  .company-profile {
    font-size: 30px;
    height: 100px;
  }
  .company-profile-w {
    font-size: 30px;
    font-weight: 600;
  }
}
