.home {
    .item-img {
      width: 100%;
    }
    .at-noticebar {
      color: #004277;
      background: #ecf5fc;
    }
    .line {
      color: #004277;
    }
    .company-profile {
        font-size: 20px;
    }
  }
  
 
  